<div
  class="jumbotron card card-image"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);"
>
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
        <strong>{{ welcome }}</strong>
      </h2>
      <p class="mx-5 mb-5">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
        fugiat, laboriosam, voluptatem, optio vero odio nam sit officia
        accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed
        qui, dolorum! <br />
        <br />

        <input name="first" name="first" [(ngModel)]="fullName" />
        <br />
        {{ fullName }}

        <br /><br />
        {{ receivedObject }}
      </p>
      <a class="btn btn-outline-white btn-md">
        <i class="fas fa-clone left"></i>
        <app-tiny-home
          [aliasSub]="forSubTemplate"
          (change)="getFromChild($event)"
        ></app-tiny-home>
      </a>
    </div>
  </div>
</div>
